<div >
  <div>
  {{#each drones}}
    <div class="card">
      <h3>Model: {{name}}</h3>
        <p>Propellers: {{propellers}}</p>
        <p>Max speed: {{maxSpeed}} m/s</p>
      <a href="/drones/{{_id}}/edit" class="button-drone">Edit drone</a>
      <a href="/drones/{{_id}}/delete" class="button-drone">delete drone</a>
    </div>
  {{/each}}
  </div>
</div>